* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    flex: 1;
}

.text {
    position: relative;
    width: 50%;
    text-align: left;
    margin: 0 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #eae6e3;
    line-height: 1.7;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1.5s ease forwards;
}

.text h2 {
    font-family: 'Jost', sans-serif;
    font-size: 2.2rem;
    color: #fafafa;
    margin-bottom: 15px;
    text-align: center;
    transition: color 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.5s;
}

.text h2:hover {
    color: #dcdcdc;
}

.text p {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #f5f5f5;
    text-align: justify;
    line-height: 1.8;
    transition: color 0.3s ease;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeInUp 1.5s ease forwards;
    animation-delay: 1s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
